
.bill-gallery-page {
  position: relative;
}

.bill-gallery-page .nav_bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.bill-gallery-hero-image-only {
  width: 100%;
  position: relative;
}

.bill-gallery-hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.bill-gallery-content {
  position: relative;
  margin-top: -260px;
  z-index: 2;
}

.bill-gallery-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
}

.gallery-search-box {
  margin: 0 auto 40px auto;
  background-color: #2d0f75;
  border-radius: 28px;
  padding: 16px 24px;
  width: 55%;
  max-width: 650px;
  box-sizing: border-box;
  z-index: 5;
}

.gallery-search-elements {
    display: flex;
    align-items: center;
    gap: 18px;
}

.gallery-search-wrapper {
    display: flex;
    align-items: center;
    background-color: #fff4cf;
    border-radius: 20px;
    border: 4px solid #7a5a1d;
    height: 48px;
    flex: 1;
    max-width: 400px;
}

.gallery-search-icon {
    background-color: #b39ddb;
    border-radius: 16px 0 0 16px;
    height: 100%;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.gallery-search-icon img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.gallery-search-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    padding: 0 20px;
    width: 100%;
}

.gallery-category-button {
    background-color: #fff4cf;
    border: none;
    padding: 16px 32px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 30px;
}


.bills-container {
    max-width: 1400px;
    margin: 20px auto 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
