.bill-widget {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px 20px 14px;
  width: 392px;
  min-height: 349px;
  height: auto;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #D1D5DC;
  font-family: 'Source Sans 3', sans-serif;
  box-sizing: border-box;
}

/* Text */
.bill-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.bill-number {
  font-size: 20px;
  font-weight: 700;
  color: #c41616;
  letter-spacing: 0.02em;
}

.bill-title {
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: 800;
  color: #000000;
  margin: 0;
  line-height: 1.25;
}

.bill-date {
  font-size: 15px;
  font-weight: 600;
  color: gray;
}

/* Category Circles */
.bill-categories {
  display: flex;
  gap: 8px;
}

.category-circle {
  width: 40px;
  height: 40px;
  background-color: #eff6ff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border: 2px solid #bddbff;
}

.category-icon {
  height: 75%;
  width: auto;
  object-fit: contain;
}


/* Progress bar */
.bill-progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bill-progress {
  display: flex;
  gap: 0;
  height: 24px;
}

.progress-step {
  flex: 1;
  height: 100%;
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%, 8px 50%);
  margin-right: 2px;
}

.progress-step.first {
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%);
}

.progress-step.last {
  clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%, 8px 50%);
  margin-right: 0;
}

.progress-step.filled {
  background: #7ed957;
}

.progress-step.empty {
  background: #d1dae3;
}


/* Labels */
.bill-progress-labels {
  display: flex;
}

.step-label {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #3a1b60;
  margin-right: 5px;
}

.step-label.active-label {
  color: #3e1964;
}