@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.bill-widget {
  width: 1227;
  height: 403;
  border-radius: 20px;
  border-width: 1px;
  gap: 10px;
  opacity: 1;
  padding: 27px;
  border: 1px solid #D1D5DC;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Text */
.bill-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.bill-number {
  font-size: 15px;
  font-weight: 700;
  color: #C10007;
  letter-spacing: 0.02em;
  font-family: 'Source Sans 3', sans-serif;
  margin-bottom: 8px;
}

.bill-title {
  font-family: "Merriweather", "serif";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24.75px;
  min-height: calc(24.75px * 2);
  letter-spacing: 0px;
  color: #101828;
  margin-bottom: 8px;
}


.bill-date {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #4A5565;
  margin-bottom: 16px;
}

/* Category Circles */
.bill-categories {
  display: flex;
  gap: 8px;
}

.category-circle {
  width: 40px;
  height: 40px;
  background-color: #eff6ff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border: 2px solid #bddbff;
}

.category-icon {
  height: 75%;
  width: auto;
  object-fit: contain;
}


.bill-widget--expanded {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
  width: 95%;
  margin: 0 auto;
}

.bill-left {
  flex: 0 0 auto;
  min-width: 360px;
  max-width: 360px;
}

.bill-right {
  flex: 1;
  padding: 4px 0;
  text-align: left;
}

.bill-summary-title {
  color: #101828;
  margin: 0 0 12px 0;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.24px;
}

.bill-summary-text {
  color: #000000; 
  margin: 0 0 20px 0;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
}

.bill-details-link {
  color: #C10007;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

}

.bill-details-link:hover {
  opacity: 0.8;
}

.bill-details-link-text {
  text-decoration: underline;
}

.bill-details-arrow {
  font-size: 1rem;
}