.home-page {
    position: relative;
}

.home-page .nav_bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hero-image-only {
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}



.bill_section {
    background-color: #f8f1ff;
    padding: 60px 20px;
    text-align: center;
}

.bill_section_heading {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
    color: #3e007d;
}


.image_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    row-gap: 30px;
    justify-items: center;
}


.grid_item img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 12px;
}
